

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}