@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

body {
    font-family: "Underdog", system-ui;
    font-weight: 400;
    font-style: normal;
}

.navigation {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navigation-item {
    cursor: pointer;
    text-transform: uppercase;
    font-style: italic;
}
.navigation-item a {
    text-decoration: none;
    color: white;
}
.navigation-item a:hover {
    color: red;
    transform: scale(1.05);
    text-shadow: 1px 0 white, -1px 0 white, 0 1px white, 0 -1px white;

}

.container {
    height: 100vh;
    width: 100vw;
}
/* LOOT */

.loot {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.loot-item {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    align-items: center;
    border: 1px solid black;
    transition: transform 0.3s ease;
}

.loot-item:hover {
    background-color: #ffcac3;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10%;
    transform: scale(1.05);
}

.hero {
    background-image: url("assets/pexels-sulimansallehi-1484776.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Hero display */

.hero-card {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.hero-card:hover {
    border: 1px solid red;
    transform: scale(1.05);
    background-color: #d7ffd5;
}

.hero-display {
    height: 100vh;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.hero-display .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    } to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
          }
}



/*
hero head text
*/

.head-text {
    display: flex;
    justify-content: center;
    align-items: center;

}

.head-text h1 {
    font-size: 4rem;
        text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
}


/*
STORY
*/

body {
    background-color: black;
    color: white;
    margin: 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.banner .content .title {
    font-size: 5rem;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("assets/pexels-hoffman11-19328719.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;

    mask-image: url("assets/inkoustgif.gif");
    mask-size: cover;
    mask-position: center;
}

/* DRAGON */

.dragon {
    background-image: url("assets/pexels-carol-wd-1531174-3118564.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dragon div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dragon div p {
    color: white;
    font-size: 1.3rem;
}

#dragon {
    background-color: white;
}

.dragontext path {
    fill: transparent;
    stroke: red;
    stroke-width: 0.15;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: textAnimation 4s ease-in-out 1 forwards;
}

@keyframes textAnimation {
    0% {
        stroke-dashoffset: 50;}
    80% {
        fill: transparent;
    } 100% {
        fill: red;
        stroke-dashoffset: 0;
          }
}


